<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="IseStandard">
    <description>Internalsystemerror Coding Standards</description>
    <file>config</file>
    <file>src</file>
    <file>test</file>
    <file>view</file>

    <arg name="report-full" value="./build/logs/phpcs.txt" />
    <arg name="extensions" value="php" />
    <arg name="extensions" value="php.dist" />
    <arg name="extensions" value="phtml" />
    <arg value="np" />
    <arg name="colors" />
    
    <rule ref="PSR2" />
</ruleset>